<section class="gallery" id ="gallery">
    <div class = "heading">
        {{ "OUR GALLERY" }}
    </div>
    <div class = "images">
        <div class = "container">
        <img src = "{{ 'Rectangle_22.png' | asset_url | img_url: 'medium' }}" alt = "Gallery">
        <img src = "{{ 'Rectangle_23.png' | asset_url | img_url: 'medium' }}" alt = "Gallery">
        <img src = "{{ 'Rectangle_24.png' | asset_url | img_url: 'medium' }}" alt = "Gallery">
        <img src = "{{ 'Rectangle_25.png' | asset_url | img_url: 'medium' }}" alt = "Gallery">
        <img src = "{{ 'Rectangle_26.png' | asset_url | img_url: 'medium' }}" alt = "Gallery">
        <img src = "{{ 'Rectangle_27.png' | asset_url | img_url: 'medium' }}" alt = "Gallery"> 
    </div>
  </div>
</section>
 

<style>
    <style>
        #gallery .images{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;
        }
        #gallery .container{
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            padding: 1px;
        }

</style>

{% schema %}
{
    "name": "Gallery",
    "settings": [],
    "presets": [
       {
        "name": "OurGallery"
    }
    ]
}
{% endschema %}